<div class="galerie-animata"></div>

<script>
    const galerieBannerData = <%- JSON.stringify(galerieBanner) %>;
    const galerieAnimata = document.querySelector('.galerie-animata');

    function createPictureElement(banner) {
        const picture = document.createElement('picture');
        picture.classList.add('banner-galerie-aniamata');

        const img = document.createElement('img');
        img.classList.add('banner-poza-mare');
        img.src = banner.nume_mare;
        img.alt = banner.alt;

        const figcaption = document.createElement('figcaption');
        figcaption.classList.add('banner-brau-text');
        figcaption.textContent = banner.descriere;

        picture.appendChild(img);
        picture.appendChild(figcaption);

        return picture;
    }

    function applyStyles() {
        const total = galerieBannerData.length;
        const animationDuration = total * 10; // 10s dureaza animatia
        let styles = document.createElement('style');
        styles.type = 'text/css';
        document.head.appendChild(styles);

        galerieBannerData.forEach((banner, index) => {
            const pictureElement = createPictureElement(banner);
            galerieAnimata.appendChild(pictureElement);

            // cream cate o animatie pentru fiecare poza
            const startPercent = (index / total) * 100;
            const endPercent = ((index + 1) / total) * 100;

            const keyframes = `
                @keyframes animatie-galerie-${index} {
                    ${startPercent}% { 
                        clip-path: inset(0% 100%);
                        filter: grayscale(100%) saturate(0%) brightness(150%);
                        z-index: 0; 
                    }
                    ${(startPercent + endPercent) / 2-0.1}% { 
                        clip-path: inset(0% 0%);
                        filter: grayscale(0%) saturate(100%) brightness(100%);
                        z-index: 1;
                    }
                    ${(startPercent + endPercent) / 2}% { 
                        clip-path: inset(0% 0%);
                        filter: grayscale(0%) saturate(100%) brightness(100%);
                        z-index: 1;
                    }
                    ${endPercent}% { 
                        clip-path: inset(0% 0%);
                        filter: grayscale(0%) saturate(100%) brightness(100%);
                        z-index: 0; 
                    }
                }
            `;

            styles.sheet.insertRule(keyframes, styles.sheet.cssRules.length);

            pictureElement.style.animation = `animatie-galerie-${index} ${animationDuration}s infinite`;
        });
    }

    applyStyles();
</script>


<div class="categorii">
    <% for(let i = 0; i < Math.floor(galerie.length / 3) * 3; ++i) { 
        let fig = galerie[i]; %>        
        <figure>
            <picture>
                <source srcset=<%= fig.nume_mic %> media="(max-width:550px)"/>
                <source srcset=<%= fig.nume_mediu %> media="(max-width:1000px)"/>
                <img src=<%= fig.nume_mare %> title=<%= fig.title %> alt=<%= fig.alt %> />
            </picture>
            <figcaption>
                <b>
                    <%= fig.descriere %>
                    <% if(fig.license != "free") { %>
                        <a href=<%= fig.license %> target="_blank"">
                            (sursa imagine)
                        </a>
                    <% } %>
                </b>
                <% if (fig.descriere == "Curatenie") { %>
                    <math class="reducere" xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                        <mrow>
                            <mtext>Super</mtext>
                        </mrow>
                        <mrow>
                            <mtext>reducere!</mtext>
                        </mrow>
                        <mrow class="old-price">
                            <menclose notation="updiagonalstrike">
                                <mn>300</mn>
                            </menclose>
                            <mtext> RON</mtext>
                        </mrow>
                        <mrow class="new-price">
                            <mn>200</mn>
                            <mtext> RON</mtext>
                        </mrow>
                    </math>    
                <% } %>
            </figcaption>
        </figure>
    <% } %>
</div>  